.beerList {
  width           : 100%;
  display         : inline-flex;
  flex-flow       : row wrap;
  justify-content : center;
}

.beerList .beerList_item {
  width            : 200px;
  height           : 150px;
  margin           : 0 10px 10px 0;
  border-radius    : 4px;
  background-color : #fff;
  box-shadow       : 0 1px 1px rgba(0, 0, 0, .4);
  overflow         : hidden;
}

.beerList .beerList_item .beer {
  position        : relative;
  display         : inline-flex;
  flex-flow       : column nowrap;
  justify-content : center;
  align-items     : center;
  width           : 100%;
  height          : 100%;
  color           : #323232;
  text-decoration : none;
}

.beerList .beerList_item .beer .beer_button {
  display : none;
}

.beerList .beerList_item .beer:hover .beer_button {
  display          : block;
  position         : absolute;
  bottom           : 0;
  width            : 100%;
  height           : 40px;
  line-height      : 40px;
  text-align       : center;
  color            : #fff;
  background-color : mediumaquamarine;
  cursor           : pointer;
  box-shadow       : inset 0 1px 1px rgba(0, 0, 0, .4);
}

.beerList .beerList_item .beer .beer_img {
  display             : inline-block;
  background-position : center center;
  background-color    : #fff;
  background-repeat   : no-repeat;
  background-size     : contain;
  width               : 40px;
  height              : 40px;
  margin              : 5px 0;
  border              : 2px solid mediumaquamarine;
  border-radius       : 50%;
  box-shadow          : 0 1px 1px rgba(0, 0, 0, .4);
}

.beerList .beerList_item .beer .beer_name {
  display       : inline-block;
  height        : 40px;
  min-height    : 40px;
  text-align    : center;
  font-family   : Lobster, serif;
  text-overflow : ellipsis;
  overflow      : hidden;
}

.beerList .beerList_item .beer .beer_firstBrew {
  display     : inline-block;
  height      : 20px;
  line-height : 20px;
  text-align  : center;
  font-size   : 12px;
}

.beerList .beerList_item .beer .beer_tagline {
  display          : inline-block;
  padding          : 10px 2px;
  width            : 100%;
  height           : 40px;
  text-align       : center;
  font-size        : 10px;
  color            : #fff;
  background-color : #c3c3c3;
  text-overflow    : ellipsis;
  white-space      : nowrap;
  overflow         : hidden;
  box-shadow       : inset 0 1px 1px rgba(0, 0, 0, .4);
}

.beerPagination {
  display       : inline-flex;
  flex-flow     : row nowrap;
  height        : 40px;
  line-height   : 40px;
  margin-bottom : 20px;
  border-radius : 4px;
  box-shadow    : 0 1px 1px rgba(0, 0, 0, .4);
  overflow      : hidden;
}

.beerPagination span {
  display          : inline-flex;
  flex-flow        : row nowrap;
  height           : inherit;
  line-height      : inherit;
  padding          : 0 10px;
  font-size        : 20px;
  color            : #fff;
  background-color : mediumaquamarine;
}

.beerPagination input {
  width         : 60px;
  height        : inherit;
  line-height   : inherit;
  padding-left  : 10px;
  font-size     : 20px;
  border        : none;
}

.beerPage_error {
  width            : 100%;
  height           : 50px;
  line-height      : 50px;
  font-size        : 30px;
  font-family      : Lobster, serif;
  color            : #fff;
  text-align       : center;
  background-color : mediumaquamarine;
  border-radius    : 4px;
}

.beerLoading {
  display  : inline-block;
  position : relative;
  width    : 100%;
  height   : 50px;
}

.beerLoading .dot {
  width            : 20px;
  height           : 20px;
  border           : 2px solid mediumaquamarine;
  background-color : #fff;
  color            : #fff;
  display          : block;
  position         : absolute;
  border-radius    : 50%;
  top              : 0;
  bottom           : 0;
  left             : 0;
  right            : 0;
  margin           : auto;
  box-shadow       : 0 1px 1px rgba(0, 0, 0, .4);
  animation        : loading 2s infinite;
}

.dot:nth-child(1) {
  right           : 80px;
  animation-delay : 0s;
}
.dot:nth-child(2) {
  animation-delay : .2s;
}
.dot:nth-child(3) {
  left            : 80px;
  animation-delay : .4s;
}

@keyframes loading {
  0% {
    transform         : scale(1);
  }
  50% {
    transform         : scale(1.4);
    background-color  : currentColor;
  }
  100% {
    transform         : scale(1);
  }
}