.beerList {
  width     : 100%;
  display   : inline-flex;
  flex-flow : column nowrap;
}

.beerList .beerList_item {
  height : 40px;
  width  : 100%;
}

.beerList .beerList_item .beer {
  display         : inline-flex;
  flex-flow       : row nowrap;
  width           : 50%;
  min-width       : 720px;
  height          : 40px;
  line-height     : 40px;
  color           : #323232;
  text-decoration : none;
}

.beerList .beerList_item .beer:hover {
  color            : #fff;
  background-color : mediumaquamarine;
  cursor           : pointer;
}

.beerList .beerList_item .beer span {
  display     : inline-block;
  height      : inherit;
  line-height : inherit;
}

.beerList .beerList_item .beer .beer_img {
  display             : inline-block;
  background-position : center center;
  background-color    : #fff;
  background-repeat   : no-repeat;
  background-size     : contain;
  width               : 30px;
  height              : 40px;
}

.beerList .beerList_item .beer .beer_name {

}

.beerList .beerList_item .beer .beer_tagline {
  font-size : 10px;
}

.beerList .beerList_item .beer .beer_firstBrew {

}

.beerPagination {
  display       : inline-flex;
  flex-flow     : row nowrap;
  height        : 40px;
  line-height   : 40px;
  margin-bottom : 20px;
}

.beerPagination span {
  display      : inline-flex;
  flex-flow    : row nowrap;
  height       : inherit;
  line-height  : inherit;
  margin-right : 10px;
  font-size    : 20px;
}

.beerPagination input {
  width       : 60px;
  height      : inherit;
  line-height : inherit;
  padding     : 0 10px;
  font-size   : 20px;
  border      : 1px solid #323232;
}